body
{	width: 100%;
	padding-top: 25px;
  
    align:center;
}

.googleImg
{
	margin-top: 100px;
	 width: 30%;
	 display: block;
 	 margin-left: auto;
  	 margin-right: auto;   

}
.gsearch
{
	 display: block;
 	 margin-left: auto;
  	 margin-right: auto;  
}

.searchbar 
{
	margin: 25px;
	width: 35%;
	height: 35px;
	 display: block;
 	 margin-left: auto;
  	 margin-right: auto;  
	border-radius: 25px;

}
